@page
@model RazorInterbaseWeb.Pages.SelectModel

@{
    ViewData["Title"] = "audio wav";
}
    <form method="post">
        <button type="submit">Преобразовать wav в нужный формат</button>
    </form>


